.actionBtn {
    width: 200px;
    padding: 5px;     
    background-color: rgb(190, 188, 188);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(190, 188, 188);
    border-radius: 50px;  
    
}
.orderBtn {
   
    position: relative;
    height: 100px;
}